.prodcut-item {
  font-size: 30px;
}
.card-prodcuts {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s;
}
.main-products {
  background-color: whitesmoke;
}

